<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- BootStrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>All Dogs</title>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                    <img src="https://i.imgur.com/PnXehAt.png" alt="" style="width: 40%;">
                </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dogs">Dogs</a>
                </li>
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="https://i.imgur.com/zD5dFIG.png" width="30">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        
                        <a class="dropdown-item ${signup}" href="/signup">Sign up</a>
                          <a class="dropdown-item ${login}" href="/login">Log in</a>
                          <a class="dropdown-item ${favorite}" href="/favorites">Favorite</a>
                          <a class="dropdown-item ${logout}" href="/logout">Log out</a>
                        </div>
                      </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Puppies looking for new home</h1>
    <div class="card-group">
        ${
            dogs.map((aDog) => {
                return `<div class="card" style="width: 18rem;">
                            <img src="${aDog.image_url}" class="card-img-top" alt="">
                        </div>`
            }).join('')
        }
    </div>
</head>
<body>
    
</body>
</html>