<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- BootStrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <title>Home</title>
    <style>
        .page-background {
            background: url(https://images.pexels.com/photos/1750378/pexels-photo-1750378.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center;
            background-size: cover;
            height: 100vh;
        }
        .message p {
            font-family: 'Indie Flower', cursive;
            text-shadow: 2px 2px black;
        }
    </style>
</head>
<body>
    <div class="page-background ">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="/">
                        <img src="https://i.imgur.com/PnXehAt.png" alt="" style="width: 35%;">
                    </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dogs">Dogs</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="https://i.imgur.com/zD5dFIG.png" width="30">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        
                        <a class="dropdown-item ${signup}" href="/signup">Sign up</a>
                          <a class="dropdown-item ${login}" href="/login">Log in</a>
                          <a class="dropdown-item ${favorite}" href="/favorites">Favorite</a>
                          <a class="dropdown-item ${ad}" href="/organization/add-delete">Add / Delete</a>
                          <a class="dropdown-item ${dogs}" href="/organization/dogs/${id}">Current Dogs</a>
                          <a class="dropdown-item ${logout}" href="/logout">Log out</a>
                        </div>
                      </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="message text-center text-white display-4">
            <p class="" style="font-size: 6vw; padding-top: 3vh">take home a friend today</p>
            <form action="/dogs">
                <button type="submit" class="btn" style="background-color: rgb(23, 138, 165); color: white; margin-top: 55vh">Dogs</button>
            </form>
        </div>

    </div>


</body>
</html>