<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- BootStrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Org-Dogs</title>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                    <img src="https://i.imgur.com/PnXehAt.png" alt="" style="width: 40%;">
                </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dogs">Dogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/login">Logout</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <!-- <address>
            <strong>${orgs.name}</strong> 
            <br> 
            ${orgs.address}<br>
            ${orgs.city}, ${orgs.state} ${orgs.zip}<br>
            <abbr title="Phone">P:</abbr>
            ${orgs.phone}<br>
            ${orgs.email}<br>
                
        </address> -->

    </div>
    

    <!-- <div class="card w-20"></div> -->
    <div class="card-group text-center justify-content">
        ${
            orgs.map((anOrg) => {
                return `
                <form
    action="/org-dogs/${anOrg.id}"
    method="GET"
>
                <div name="id" class="card" style="max-width: 18rem;" value=${anOrg.id}>
                    <strong>${anOrg.name}</strong>
                    ${anOrg.address}<br>
                    ${anOrg.city} , ${anOrg.state}<br>
                    
                    <button type="submit" class="btn btn-primary">Go</button>

                        </div>
                        `
            }).join('')
        }
    </div>
    </form>
</head>
<body>
    
</body>
</html>

